{% extends 'base.html' %}

{% block content %}

<div class="card">
    <img src="https://source.unsplash.com/xG8IQMqMITM" class="card-img-top" alt="blog">
    <div class="card-body">
        <h5 class="card-title">Blog</h5>
        <p class="card-text">
            I've written a blog! It's all about my experience at university!
        </p>
        <a href="blog/" class="btn btn-primary">Take a look!</a>
    </div>
</div>

<br>

<div class="card">
    <img src="https://source.unsplash.com/GI1hwOGqGtE" class="card-img-top" alt="cv">
    <div class="card-body">
        <h5 class="card-title">CV</h5>
        <p class="card-text">
            This page contains my CV - converted to a fancy web page!
        </p>
        <a href="cv/" class="btn btn-primary">Take a look!</a>
    </div>
</div>


{% endblock content %}