{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Jacob's Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/blog/">Blog</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Post Actions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'post_new' %}">New Post</a>
                    <a class="dropdown-item" href="{% url 'post_draft_list' %}">Draft List</a>
                </div>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/cv/">CV</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    CV Actions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'cv_new_education' %}">New Education</a>
                    <a class="dropdown-item" href="{% url 'cv_new_skill' %}">New Skill</a>
                </div>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Hello {{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>

            {% endif %}
        </ul>
    </div>
</nav>
{% endblock navbar %}