{% block sidebar %}
<div class="col-md-4">
    <div class="card text-white bg-secondary mb-3 shadow mx-auto" style="max-width: 18rem;">
        <h5 class="card-header">About Me</h5>
        <div class="card-body">
            <p class="card-text">
                Hi, I'm Jacob Wilson - a second year CS student at the
                University of Birmingham on a degree apprenticeship programme
                with PwC.
            </p>
            <div class="container">
                <div class="row row-cols-5">
                    <div class="col d-flex justify-content-center">
                        <a class="fab fa-twitter fa-2x social-link" href="https://twitter.com/jac0bw1lson" target="_blank"></a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <a class="fab fa-instagram fa-2x social-link" href="https://www.instagram.com/jac0bwilson/" target="_blank"></a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <a class="fab fa-linkedin fa-2x social-link" href="https://www.linkedin.com/in/jacobsw/" target="_blank"></a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <a class="fab fa-github fa-2x social-link" href="https://github.com/jac0bwilson" target="_blank"></a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <a class="fas fa-envelope fa-2x social-link" href="mailto:jacobswilsonglos@gmail.com" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock sidebar %}