{% block sidebar %}
<div class="col-md-4 float-right">
    <div class="card text-white bg-secondary mb-3 shadow" style="max-width: 18rem;">
        <h5 class="card-header">About Me</h5>
        <div class="card-body">
            <p class="card-text">
                Hi, I'm Jacob Wilson - a second year CS student at the
                University of Birmingham on a degree apprenticeship programme
                with PwC.
            </p>
            <div class="container">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <a class="fab fa-twitter fa-2x" href="https://twitter.com/jac0bw1lson" style="color: white; text-decoration: none;"></a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <a class="fab fa-instagram fa-2x" href="https://www.instagram.com/jac0bwilson/" style="color: white; text-decoration: none;"></a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <a class="fab fa-linkedin fa-2x" href="https://www.linkedin.com/in/jacobsw/" style="color: white; text-decoration: none;"></a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <a class="fab fa-github fa-2x" href="https://github.com/jac0bwilson" style="color: white; text-decoration: none;"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock sidebar %}