.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.social-link {
    color: white;
    text-decoration: none;
    transform: 0.4s;
}

.social-link:hover {
    color: black;
    text-decoration: none;
}